* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-tex-color: #fafafa;
}

html {
    /* 16px == 100% = 10px = 1rem*/
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}


/* Header */
.header__ad {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 231px;
    background: #000;
    padding: 12px 0;
}

.header__ad-text {
    color: var(--primary-tex-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

.header__function-change-language {
    color: var(--primary-tex-color);
}

.header__btn-angle-down {
    border: none;
    outline: none;
    background-color: transparent;
}

.header__label-language {
    color: var(--Text, #FAFAFA);
    font-size: 1.4rem;
    line-height: 1.5;
}

.header__btn-angle-down .angle-down {
    color: #fff;
}