* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
}

html {
    font-size: 62.5%;
}
/* Common */
a {
    text-decoration: none;
    list-style-type: none;
}
button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.label {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.label__decor {
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background: #db4444;
}
.label__text {
    color: #db4444;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
}
.section-title {
    color: #000;
    font-family: Inter;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 1.44px;
}
.btn-next {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-left: auto;
}
.button-next__left,
.button-next__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background: #f5f5f5;
    border-radius: 50%;
}
.products__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.product__img-wrap {
    position: relative;
    background: #f5f5f5;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__discount,
.product__fill-heart-wrap,
.product__quick-view-wrap {
    position: absolute;
    z-index: 2;
}
.product__discount {
    top: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 26px;
    background: #db4444;
    border-radius: 4px;
}
.product__discount-text {
    color: #fafafa;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.product__fill-heart-wrap,
.product__quick-view-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12px;
    right: 12px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #fff;
}
.product__quick-view-wrap {
    top: 54px;
}
.product__info {
    padding: 16px 0 0 0;
}
.product__name {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}
.product__row {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin: 8px 0;
}
.product__price-new {
    color: #db4444;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}
.product__price-old {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-decoration-line: line-through;
    opacity: 0.5;
}
.rating {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.rating__list {
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.rating__quantity {
    color: #000;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
.container {
    max-width: 1178px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
