<div class="row">
    <div class="container">
        <div class="row-wrap">
            <!-- Side-bar -->
            <div class="side-bar">
                <ul class="side-bar__list">
                    <li class="side-bar__item">
                        <div class="side-bar__label">Woman’s Fashion</div>
                        <img src="./assets/icons/dropdownr90.svg" alt="" class="side-bar-dropdown-icon" />
                    </li>
                    <li class="side-bar__item">
                        <div class="side-bar__label">Men’s Fashion</div>
                        <img src="./assets/icons/dropdownr90.svg" alt="" class="side-bar-dropdown-icon" />
                    </li>
                    <li class="side-bar__item">Electronics</li>
                    <li class="side-bar__item">Home & Lifestyle</li>
                    <li class="side-bar__item">Medicine</li>
                    <li class="side-bar__item">Sports & Outdoor</li>
                    <li class="side-bar__item">Baby’s & Toys</li>
                    <li class="side-bar__item">Groceries & Pets</li>
                    <li class="side-bar__item">Health & Beauty</li>
                </ul>
            </div>
            <!-- Slider -->
            <section class="slider">
                <div class="slider__inner"></div>
            </section>
        </div>
    </div>
</div>
