<div class="row">
    <div class="container">
        <div class="row-wrap">
            <!-- Side-bar -->
            <div class="side-bar">
                <ul class="side-bar__list">
                    <li class="side-bar__item">
                        <div class="side-bar__label">Woman’s Fashion</div>
                        <img src="./assets/icons/dropdownr90.svg" alt="" class="side-bar-dropdown-icon" />
                    </li>
                    <li class="side-bar__item">
                        <div class="side-bar__label">Men’s Fashion</div>
                        <img src="./assets/icons/dropdownr90.svg" alt="" class="side-bar-dropdown-icon" />
                    </li>
                    <li class="side-bar__item">Electronics</li>
                    <li class="side-bar__item">Home & Lifestyle</li>
                    <li class="side-bar__item">Medicine</li>
                    <li class="side-bar__item">Sports & Outdoor</li>
                    <li class="side-bar__item">Baby’s & Toys</li>
                    <li class="side-bar__item">Groceries & Pets</li>
                    <li class="side-bar__item">Health & Beauty</li>
                </ul>
            </div>
            <!-- Slider -->
            <section class="slider">
                <div class="slider__inner">
                    <div class="slider__row">
                        <!-- Slider content -->
                        <div class="slider__content">
                            <div class="agency">
                                <div class="agency__row">
                                    <img src="./assets/icons/agency-logo.svg" alt="" class="agency__logo" />
                                    <span class="agency__name-device">iPhone 14 Series</span>
                                </div>
                                <h1 class="agency__discount">Up to 10% off Voucher</h1>
                                <div class="agency__cta">
                                    <a href="" class="agency__cta-link">Shop Now</a>
                                    <img src="./assets/icons/arrow-right.svg" alt="" class="agency__arrow-right-icon" />
                                </div>
                            </div>
                        </div>
                        <!-- Slider device -->
                        <img src="./assets/img/slider-device.svg" alt="" class="slider__agency-device" />
                    </div>
                    <ul class="next-slider__list">
                        <li class="next-slider__item"></li>
                        <li class="next-slider__item"></li>
                        <li class="next-slider__item next-slider__item--current"></li>
                        <li class="next-slider__item"></li>
                        <li class="next-slider__item"></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
