<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__col-1">
                <!-- Logo -->
                <div class="logo footer__logo">
                    <img src="../assets/img/footer-logo.svg" alt="" class="logo__img" />
                </div>
                <h3 class="col__title">Subscribe</h3>
                <p class="col__desc">Get 10% off your first order</p>
                <form class="form-email">
                    <input type="email" class="form-email__input" placeholder="Enter your email" />
                    <button class="form-email__btn">
                        <img src="./assets/icons/send.svg" alt="" class="form-email-send-icon" />
                    </button>
                </form>
            </div>
            <div class="footer__col-2">
                <h3 class="col__title">Support</h3>
                <p class="col__desc">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
                <p class="col__desc">exclusive@gmail.com</p>
                <p class="col__desc">+88015-88888-9999</p>
            </div>
            <div class="footer__col-3">
                <h3 class="col__title">Support</h3>
                <p class="col__desc">My Account</p>
                <p class="col__desc">Login / Register</p>
                <p class="col__desc">Cart</p>
                <p class="col__desc">Wishlist</p>
                <p class="col__desc">Shop</p>
            </div>
            <div class="footer__col-4">
                <h3 class="col__title">Quick Link</h3>
                <p class="col__desc">Privacy Policy</p>
                <p class="col__desc">Terms Of Use</p>
                <p class="col__desc">FAQ</p>
                <p class="col__desc">Contact</p>
            </div>
            <div class="footer__col-5">
                <h3 class="col__title">Download App</h3>
                <p class="col-5__desc">Save $3 with App New User Only</p>
                <div class="col-5__row">
                    <img src="./assets/icons/qrscan.svg" alt="" class="col-5-qr-scan" />
                    <div class="col-5__app">
                        <a href="#!"><img src="./assets/img/chplay.svg" alt="" class="col-5-ch-play-img" /></a>
                        <a href="#!"><img src="./assets/img/appstore.svg" alt="" class="col-5-app-store-img" /></a>
                    </div>
                </div>
                <div class="col-5__row">
                    <img src="./assets/icons/social.svg" alt="" class="col-5-social-icons" />
                </div>
            </div>
        </div>
    </div>
</div>
