<div class="top-bar">
    <div class="container">
        <div class="top-bar__inner">
            <div class="top-bar__center">
                <p class="top-bar__message">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
                <a href="#!" class="top-bar__cta-link">ShopNow</a>
            </div>
            <div class="language">
                <span class="language__current">English</span>
                <button class="language__choice">
                    <img src="./assets/icons/dropdown.svg" alt="" class="dropdown-icon" />
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="header__main">
        <!-- Logo -->
        <div class="logo">
            <img src="./assets/img/logo.svg" alt="" class="logo__img" />
        </div>
        <!-- Nav -->
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#!" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#!" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#!" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#!" class="nav__link">Sign up</a></li>
            </ul>
        </nav>
        <div class="header-user">
            <!-- Search -->
            <form action="" class="form-search">
                <input type="search" name="" id="" class="form-search__input" placeholder="What are you looking for?" />
                <button class="form-search-btn">
                    <img src="./assets/icons/search.svg" alt="" class="search-icon" />
                </button>
            </form>
            <!-- Wishlist -->
            <button class="header__wishlist-btn">
                <img src="./assets/icons/wishlist.svg" alt="" class="wishlist-icon" />
            </button>
            <!-- Card -->
            <button class="header__cart-btn">
                <img src="./assets/icons/cart.svg" alt="" class="cart-icon" />
            </button>
        </div>
    </div>
</div>
